.App {
  background-color: rgb(181, 223, 248);
  padding: 30px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App > div {
  background-color: #666;
  padding: 40px 20px;
  margin: 30px;
  border-radius: 20px;
  width: 400px;
  height: 200px;
  font-size: 30px;
  text-align: center;
}
